/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
    text-align: center;
}

#features img {
    margin: 7px 0 20px;
}

#inputMessage {
    margin-bottom: 15px;
}

footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.well .page-header {
    margin-top: 0;
}

.well .page-header h1 {
    margin-top: 0;
}

ul.unstyled {
    list-style: none;
    padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchtext {
    width: 200px;
}

.navbar-brand {
    padding: 13px 15px;
}

.navbar-brand img {
    width: 100px;
    height: 30px;
}

.glyphc {
    font-size: 50px;
    color: yellow;
}

.glyphcol {
    font-size: 50px;
    color: red;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
    margin-top: 60px;
}

#myCarousel .item {
    height: 400px;
}

.carousel-caption {
    font-size: 24px;
}

.carousel-caption h4 {
    font-size: 32px;
}

#slide1 {
    background: url(../../images/ca1.jpg) top center no-repeat;
}

#slide2 {
    background: url(../../images/ca3.jpg) top center no-repeat;
}

#slide3 {
    background: url(../../images/ca4.png) top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
    margin-top: 20px;
    display: none;
}

.well {
    margin: 20px 0;
}

.tabbable img.thumbnail {
    margin: 0 20px 10px 0;
}

.thumbnails {
    margin: 20px 0;
}

.thumbnail {
    position: relative;
}

.thumbnail h3 {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 20px;
}

.thumbnail .price {
    font-size: 22px;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
}

.thumbnail .price sup {
    font-weight: normal;
    font-size: 12px;
}

.thumbnail span.glyphicon {
    margin-right: 5px;
}

.head h2 {
    text-align: center;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */


/* Portrait & landscape phone */

@media (max-width: 480px) {
    .thumbnail .price {
        font-size: 14px;
    }
    .thumbnail .price sup {
        font-size: 10px;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {
    #myCarousel .item {
        height: 310px;
    }
    #slide1 {
        background: url(../../images/ca1-md.jpg) top center no-repeat;
    }
    #slide2 {
        background: url(../../images/ca3-md.jpg) top center no-repeat;
    }
    #slide3 {
        background: url(../../images/ca4-md.png) top center no-repeat;
    }
}


/* Large desktop */

@media (min-width: 1200px) {
    #myCarousel .item {
        height: 500px;
    }
    #slide1 {
        background: url(../../images/ca1.jpg) top center no-repeat;
    }
    #slide2 {
        background: url(../../images/ca3.jpg) top center no-repeat;
    }
    #slide3 {
        background: url(../../images/ca4.png) top center no-repeat;
    }
}
