md-toolbar md-icon.md-default-theme {
    color: white;
}

.bckgrndimage {
    background-image: url("../img/maxresdefault.jpg");
}

.aboutus {
    background-color: "grey";
}

body {
    font-family: 'Roboto+Mono', serif;
    font-size: 20px;
}
